<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EFModel.SIATModel.csdl|res://*/EFModel.SIATModel.ssdl|res://*/EFModel.SIATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIOGO-PC;initial catalog=OSM-SIAT-P;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="SIAT.Service.SIATService" behaviorConfiguration="SIATServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="SIAT.Service.Contract.ISIATService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- Discovery Endpoints -->
        <endpoint kind="udpDiscoveryEndpoint" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:18088/SIATService"/>
            <add baseAddress="https://localhost:18089/SIATService"/>
          </baseAddresses>
        </host>

      </service>

    </services>

    <behaviors>
      <serviceBehaviors>

        <behavior name="SIATServiceBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>

          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
