<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ISIATServiceEndpoint" value="http://siat.diogofdsilva.com/Services/SIAT/SIATService.svc"/>
    <add key="IOSMServiceEndpoint" value="http://siat.diogofdsilva.com/Services/OSM/OSMService.svc"/>
    <add key="IUserInfoEndpoint" value="http://siat.diogofdsilva.com/Services/SIAT/SIATUserService.svc"/>
  </appSettings>
  <connectionStrings>
    <add name="SIAT.WP7.Shared.Properties.Settings.OSM_SIAT_PConnectionString"
            connectionString="Data Source=DIOGO-PC;Initial Catalog=OSM-SIAT-P;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="SIAT.WP7.Service.ISIATServiceWP7">

        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="SIAT.WP7.Service.SIATServiceWP7" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="All"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= ".\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>
