<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="SIATEntities" connectionString="metadata=res://*/EFModel.SIATModel.csdl|res://*/EFModel.SIATModel.ssdl|res://*/EFModel.SIATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=66.7.195.116,1060;Network Library=DBMSSOCN;Initial Catalog=di3gofds_siat;User ID=siat;Password=12345;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserModelContainer" connectionString="metadata=res://*/EFEntities.UserModel.csdl|res://*/EFEntities.UserModel.ssdl|res://*/EFEntities.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=66.7.195.116,1060;Network Library=DBMSSOCN;Initial Catalog=di3gofds_siat;User ID=siat;Password=12345;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="SIAT.IISServices.SIATUserService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="SIAT.UserInfo.Contract.IUserInfo"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- Discovery Endpoints -->
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>

      <service name="SIAT.IISServices.SIATService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="SIAT.Service.Contract.ISIATService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- Discovery Endpoints -->
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
