@{
    ViewBag.Title = "SIAT - Home";
}

<div style="width:420px; padding:15px; border-radius: 15px; border: 2px solid #32639A; float:left; clear:none">
    <h3>Bem-vindo!</h3>
    <h4>
        Chegou a aplicação que te vai ajudar a fugir ao trânsito.
    </h4>
    <p>
        Se estas farto de ficar parado nas filas de trânsito, esta aplicação é para a ti.
    </p>

    <h3>Inscreve-te na comunidade</h3>
    <h4>
        Faz parte da comunidade, para teres acesso a mais funcionalidades.
    </h4>
    <p>
        Podes optar por fazer o regista na plataforma, mas isso não é obrigatório. 
        Ao estares regista-do podes indicar os teus amigos e trocar informações directamente entre vocês.
        
    </p>
</div>

<div style="width:420px;  padding:15px; border: 2px solid #32639A; border-radius: 15px; float:right;">
    <h3>Como usar?</h3>
    <h4>
        Faz download da aplicação, e começa a utilizá-la no teu telemóvel. Quanto mais usares, melhor será a qualidade da informação prestada.
    </h4>
    <div style="clear:none;">
        Disponível apenas para Windows Phone 7!
    </div>
    <img width="100px" src="@Url.Content("~/Content/images/wp7Logo.png")" style="float:right; clear:none" />
    <a href="http://www.windowsphone.com/pt-PT/apps/8ecf838c-5c86-4264-bd11-99b154378694">
        <div style="font-family: sans-serif; background-color: #D8E7FE; clear:both; padding:15px; text-align:center; border-radius: 15px;  font-size:medium; ">
             Entrar no Windows Phone Marketplace
        </div>
    </a>
</div>
