<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ISIATServiceEndpoint" value="http://siat.diogofdsilva.com/Services/SIAT/SIATService.svc" />
    <add key="IOSMServiceEndpoint" value="http://siat.diogofdsilva.com/Services/OSM/OSMService.svc" />
    <add key="IUserInfoEndpoint" value="http://siat.diogofdsilva.com/Services/SIAT/SIATUserService.svc" />

  </appSettings>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>