<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UserModelContainer" connectionString="metadata=res://*/EFEntities.UserModel.csdl|res://*/EFEntities.UserModel.ssdl|res://*/EFEntities.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIOGO-PC;initial catalog=OSM-SIAT-P;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>